body{
    min-height: 100vh;
    background-color: rgb(5,23,30);
    display: flex;
    flex-direction: column;
}

header{
    background-color: rgb(8,32,41);
}

footer {
    background-color: rgb(8,32,41);
    margin-top: auto;
}

main{
    text-align: center;
    padding-bottom: 12px;
}

td{
    padding-bottom: 8px;
}
  
table{
    padding-top: 12px;
    padding-bottom: 12px;
}
  
#overlay_content{
    height: 200px;
}