 .grass{
    background-color: rgb(118, 204, 84);
} 

.water{
    background-color: rgb(79, 154, 255);
}

.fire{
    background-color: rgb(236, 66, 37);
}

.bug{
    background-color: rgb(19, 64, 19);
}

.normal{
    background-color: gray;
}

.poison{
    background-color: blueviolet;
}

.electric{
    background-color: yellow;
}

.ground{
    background-color: orange;
}


